

/**
 * File Name: mystyle.css
 *
 * Revision History:
 *       Elias, 2019-03-10 : Created
 */

#EREditFeedbackPage{
    background-color: black;
    color: lime;

}
ul {
    background: lime;
    padding: 20px;
}
ul li {
    background: black;
    margin: 5px;
    list-style: none;
}
#ERAboutPage {
    background-color: black;
    color: lime;
    text-align: center;



}
#ERReviewList{
    background-color: black;
    color: lime;

}

#ERAddReviewPage{
    background-color: black;
    color: lime;
    text-shadow: black;


}

#ERReviewList{

    color: lime;

}
#ERSettingsPage{
    background-color: black;
    color: lime;
}

label.error {
    color: #F00;
    font-weight: bold;
}

input.error,
select.error,
textarea.error {
    border: 1px red solid;
}




#bg{
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
#bg img{
    height: 120vh;
    width: 105%;
    -webkit-filter:blur(20px);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#blackLayer{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    position: absolute;
    z-index: 99;
}
#main{
    width: 90%;
    background-color:black;
    border-radius: 15px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
#image img{
    height: 180px;
    width: 100%;
    margin-top: -5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#player{
    padding: 40px;
    color:#333;
}
#songTitle{
    width:300px;
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#buttons{
    height: 50px;
    width: 100%;
    margin-top: 50px;
    position:relative;
    top:10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#play,#next,#pre{
    width: 50px;
    height: 50px;
    border: 0;
    background-color:royalblue;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#next{
    width: 30px;
    height: 30px;
    left: 70%;
}
#pre{
    width: 30px;
    height: 30px;
    left: 30%;
}
#play img,#next img,#pre img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#seek-bar{
    width: 250px;
    height: 5px;
    background-color:gray;
    display: flex;
    border-radius: 50px;
    margin-left: 25px;
    cursor: pointer;
}
#fill{
    height: 5px;
    background-color:lime;
    border-radius: 20px;
}
#handle{
    width: 8px;
    height: 8px;
    background-color:lime;
    border-radius: 50%;
    margin-left: -5px;
    transform: scale(2);
}

/*map*/

#map {
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}